.idea
.gradle
build
bin
out
.DS_Store
gradle-local.properties
flux/lib
flux/ext
flux/bin
flux/conf
flux-cli/src/dist/ext/*.jar
flux-version.properties
docker/sonarqube
optionsExperiments
dep.txt
.node_modules